.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.container {
  font-size: 120px;
}

.key {
  display: inline-block;
  font-size: 40px;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: pink;
}

.story,
.sidebar > div {
  font-size: 40px;
  display: inline-block;
  float: left;
}
