.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.container {
  font-size: 120px;
}

.key {
  display: inline-block;
  font-size: 40px;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: pink;
  cursor: pointer;
}

.story,
.sidebar {
  width: 40%;
  display: inline-block;
  font-size: 40px;
}

.story {
  background-color: #e8e8b0;
  padding: 20px;
}

.sidebar > div {
  margin-top: 20px;
  display: inline-block;
  /* float: left; */
}

main {
  margin-top: 25px;
  display: flex;
  align-items: middle;
  justify-content: center;
}

.emoji {
  line-height: 1;
  margin: 5px;
  padding: 10px;
  background: white;
  border-radius: 5px;
}

.emoji,
.story {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.keyboard {
  margin-top: 2rem;
}