body {
  margin-top: 50px;
  padding: 0;
  background-color: hsl(164, 95%, 43%);
  color: #e91e63;
}

.emoji-lg {
  font-size: 10rem;
  margin: 0
}

.emoji-med {
  font-size: 7.5rem;
  padding: 1rem;
}

.emoji-small {
  font-size: 3.5rem;
  padding: 1rem;
}

.name-card {
  font-family: "Indie Flower", sans-serif;
  font-size: 2rem;
}

.emoji-container:hover {
  -webkit-animation: bounce 1s;
  animation: bounce 1s;
}

.game-container {
  display: flex;
  align-items: center;
}

.quiz-letters {
  font-size: 3rem;
  background: white;
  border-radius: 2px;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 10rem;
  height: 15rem;
  margin: auto;
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
  left: 0;
}

.flip-letters {
  font-size: 6rem;
  text-align: center;
  offset: -20px;
}

.front {
	z-index: 2;
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
 
}

.profile {
  max-width: 150px;
  height: auto;
  border-radius: 50%;
  border: 3px dashed hsl(164, 50%, 43%);
  /* box-shadow: 5px 2px 1px hsl(164, 50%, 43%); */
}

.login {
  background-color: white;
  border-radius: 50px;
  color: hsl(164, 50%, 43%);
  margin-bottom: 50px
  /* box-shadow: none */
}

.win-emoji {
  transition: 1s;
}
